{{>swiper}}
<main>
    {{>perfumes-container}}
</main>

<aside>
    <div class="Test-container">
        <H2> ¡Haz nuestro test y déjate cautivar por los aromas que te definirán!</H2>
        <p>Descubre tu fragancia ideal y encuentra el perfume perfecto que refleje tu personalidad única.</p>
    </div>
    <div class="btn-test">
        <a id="Test" href="#"><strong>Hacer el test</strong></a><!-- class="btn-test-link" -->
    </div>
</aside>