@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* html{
  font-size: 64.5%;
} */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
}
/* !alerta */
.green {
  background-color: rgb(0, 189, 0);
  box-shadow: inset 2px 2px 3px rgb(0, 216, 0),
    inset -2px -2px 3px rgb(0, 126, 0);
}
.red {
  background-color: rgb(216, 3, 3);
  box-shadow: inset 2px 2px 3px #ff0000, inset -2px -2px 3px #9e0000;
}
.alert_message {
  color: white;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}
.button_close {
  border: none;
  background-color: rgb(255, 65, 65);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 7px;
  margin-left: 10px;
  cursor: pointer;
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #c5a859;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.info-childs {
  width: 100%;
  padding: 0 30px;
}
.info-childs h2 {
  font-size: 3rem;
}
.info-childs p {
  margin: 20px 0;
  color: #ffffff;
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #333;
  font-size: 2rem;
}

.form-information-childs p {
  color: #555;
}

.form-information1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 700px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.26);
}

.form-information1-childs {
  padding: 30px;
}

.form-information1-childs h2 {
  color: #333;
  font-size: 2rem;
}

.form-information1-childs p {
  color: #555;
}
.logo img {
  width: 140px;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #333;
}

.button {
  background-color: #000000;
  color: #fff;
  font-weight: 700;
  width: 70%;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.5s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.63);
}

.button:hover {
  background-color: #dfdfdf;
  color: black;
}

/*! responsive */

@media screen and (max-width: 750px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }
  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
