<div class="topbar">
    <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
    {{#if isAdmin}}
    <!-- Busqueda -->
    <div class="search">
        <label>
            <input type="text" placeholder="Buscar aquí">
            <ion-icon name="search-outline"></ion-icon>
        </label>
    </div>
    {{/if}}
    <!-- Imagen Usuario -->
    <div class="user">
        <ion-icon name="person-circle-outline"></ion-icon>
    </div>
</div>