<table>
    <tr>
        <td width="60px">
            <div class="imgBx"><img src="/IMG/invictus.jpg" alt=""></div>
        </td>
        <td>
            <h4>Armando Ramos <br><Span>La florida</Span></h4>
        </td>
    </tr>
    <tr>
        <td width="60px">
            <div class="imgBx"><img src="/IMG/invictus.jpg" alt=""></div>
        </td>
        <td>
            <h4>Armando Ramos <br><Span>La florida</Span></h4>
        </td>
    </tr>
    <tr>
        <td width="60px">
            <div class="imgBx"><img src="/IMG/invictus.jpg" alt=""></div>
        </td>
        <td>
            <h4>Armando Ramos <br><Span>La florida</Span></h4>
        </td>
    </tr>
    <tr>
        <td width="60px">
            <div class="imgBx"><img src="/IMG/invictus.jpg" alt=""></div>
        </td>
        <td>
            <h4>Armando Ramos <br><Span>La florida</Span></h4>
        </td>
    </tr>
    <tr>
        <td width="60px">
            <div class="imgBx"><img src="/IMG/invictus.jpg" alt=""></div>
        </td>
        <td>
            <h4>Armando Ramos <br><Span>La florida</Span></h4>
        </td>
    </tr>
    <tr>
        <td width="60px">
            <div class="imgBx"><img src="/IMG/invictus.jpg" alt=""></div>
        </td>
        <td>
            <h4>Armando Ramos <br><Span>La florida</Span></h4>
        </td>
    </tr>
</table>