<footer class="pie-pagina">
    <div class="grupo-1">

        <div class="box">
            <figure>
                <a href="/">
                    <img src="/img/favicon.png" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Sobre Nosotros</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            <p>elit. Alias praesentium doloremque enim vel ipsam amet?</p>
        </div>
        <div class="box">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy;2024 <b>TR-BF</b> Todos los Derechos Reservados.</small>
    </div>
</footer>