<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="/img/3.png" alt=""></div>
        <div class="swiper-slide"><img src="/img/1.png" alt=""></div>
        <div class="swiper-slide"><img src="/img/2.png" alt=""></div>
        <div class="swiper-slide"><img src="/img/4.png" alt=""></div>
        <div class="swiper-slide"><img src="/img/5.png" alt=""></div>
    </div>
    <!-- If we need pagination -->
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>