<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Cuota</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>Si</td>
            <td><span class="statusEspera">Pendiente</span></td>
        </tr>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>No</td>
            <td><span class="statusPagado">Pagado</span></td>
        </tr>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>Si</td>
            <td><span class="statusEspera">Pendiente</span></td>
        </tr>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>Si</td>
            <td><span class="statusRetraso">Retraso</span></td>
        </tr>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>Si</td>
            <td><span class="statusRetraso">Retraso</span></td>
        </tr>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>Si</td>
            <td><span class="statusRetraso">Retraso</span></td>
        </tr>
        <tr>
            <td> Perfume - Marca</td>
            <td>$70</td>
            <td>Si</td>
            <td><span class="statusRetraso">Retraso</span></td>
        </tr>
    </tbody>
</table>