<section class="table__body">
    <table>
        <thead>
            <tr>
                <th>Id </th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Estatus</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>
                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status cancelled">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status pending">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="/img/8f89cc53-cbf0-4179-9a74-7bcb20d10c41.png" alt="" />Zinzu Chan Lee
                </td>
                <th>1</th>
                <td>23</td>

                <td>
                    <p class="status delivered">Delivered</p>
                </td>
                <td><strong> $128.90 </strong></td>
            </tr>
        </tbody>
    </table>
</section>