<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>Perfume</title>
</head>

<body>
  {{>messages}}
  {{>errors}}
  {{{body}}}
</body>

</html>