<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/perfume1.jpg" type="image/x-icon">
    {{!-- Custom css --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/perfume.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title>Perfume</title>
</head>

<body class="">
    {{>navigation}}
    {{>messages}}
    {{>errors}}
    {{{body}}}
    {{>footer}}
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/index.js"></script>

</html>