<div class="form-information1">
    <div class="form-information1-childs">
        <h2>Admin</h2>
        <div class="logo">
            <a href="/"><img src="/img/8.png" alt="logo"></a>
        </div>
        <h3>Bienvenido</h3>
        <form class="form" action="/users/signin/admin" method="POST">
            <label for="">
                <i class="bx bx-envelope"></i>
                <input type="email" placeholder="Correo electronico" name="email">
            </label>
            <label for="">
                <i class="bx bx-lock-alt"></i>
                <input type="password" placeholder="Contraseña" name="password">
            </label>

            <input class="button" type="submit" value="Iniciar">
        </form>
    </div>
</div>